@import "/defaults.scss";

h1 {
  margin: 0px;
  @media screen and (max-width: $mobile-and-tablet) {
    font-size: 2.25rem;
  }
}
h2 {
  color: $black;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.1;
  margin: 0px;
}

h3 {
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.55;
  color: $gray;
}
p {
  color: $gray;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.55;
  margin: 0px;
}

.landing {
  max-width: 42rem;
  padding: 140px 0px;
  h1 {
    font-size: 4rem;
    margin-top: -10px;
  }
  h3 {
    font-weight: 400;
    font-size: 30px;
    text-indent: 2px;
    padding: 0px;
    margin: 0px;
    color: $gray;
  }
  h4 {
    font-weight: 400;
    font-size: 22px;
    text-indent: 2px;
    padding-top: 40px;
    margin: 0px;
  }
}

.about {
  flex-direction: column;
  p {
    max-width: 600px;
  }
  h3 {
    margin-top: 20px;
    margin-bottom: 0px;
  }
}

//EXPERIENCE (HOME)

.work {
  .experience {
    margin-top: 20px;
  }
  h3 {
    margin: 0px;
    color: $gray;
  }
}

// BLOG PAGE

.blog-preview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    margin: 0px;
  }
}

.post-container {
  width: 700px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 15px;
  transition-delay: 0s !important;
  h3 {
    font-weight: 700;
  }
  a {
    text-decoration: none;
  }

  @media screen and (max-width: $mobile-and-tablet) {
    width: 100%;
  }
}

.blog-preview-container {
  padding: 20px;
}

.about-text {
  margin-top: 10px;
}

.about-section {
  @media screen and (max-width: $mobile-and-tablet) {
    width: 300px;
  }
}

.post-details {
  display: flex;
  flex-direction: column;
  h3 {
    &:hover {
      color: $color-highlight;
    }
  }
}

.description-text {
  font-style: italic;
  font-size: 1rem;
}

.excerpt-text {
  font-size: 1rem;
  margin-top: 15px;
  text-align: left;
  font-family: $font-primary;
  line-height: 1.4;
  color: $gray;
}
